<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.812235882227-4nas77u4sa1a7vscfpasc0fqigjvd8bf</string>
			</array>
		</dict>
		<dict/>
	</array>
	<key>GIDClientID</key>
	<string>812235882227-4nas77u4sa1a7vscfpasc0fqigjvd8bf.apps.googleusercontent.com</string>
</dict>
</plist>
